html {
  font-size: 14px;
  text-align: center;
}

.centered-container {
  margin: 0px auto;
  max-width: 300px;
  width: 100%;
}

.mui-tab-item {
  background-color: #8bc34a;
}

@media screen and (min-width: 300px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 600px) {
  .centered-container {
    max-width: 600px;
  }

  .resource-list {
    float: left;
  }

  .mui-tabs-container {
    margin-left: 300px;
  }
}

@media screen and (min-width: 900px) {
  .centered-container {
    margin: 0px auto;
    max-width: 900px;
    width: 100%;
  }

  .resource-list {
    width: 33%;
    float: left;
  }

  .upgrades {
    width: 33%;
    float: left;
  }

  .actionList {
    width: 33%;
    float: left;
  }
}
